* {  /* the * means select everything on the page */
  text-align: center;
  margin: auto;
}

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/153/567/large_2x/cavern-background-blue-free-vector.jpg");
  position: ;
  z-index: -123;
}

.img-fluid {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 10px;
}

.img-fluid:hover {
  -webkit-filter: invert(100%) !important;
}

.jumbotron {
  color: black;
  font-family: 'Titillium Web', sans-serif;
  padding: 10px;
  border: black 2px solid;
  margin: auto;
}

.row {
  float: left;
}

nav {
  font-family: 'Slabo 27px', serif;
  padding: 10px;
  border: 2px black solid;
}

.bkgrnd {
  z-index: -234;
}

.instructions {
  width: 50%;
}

.container {
  font-size: 30px;
}