* {  /* the * means select everything on the page */

  width: fit-content;
  align-content: center;
}

body {
  background-image: url(http://i677.photobucket.com/albums/vv134/shelbywrks/1425117474_7c496d6efa.jpg)
  position: fixed;
  z-index: -123;
}

.img-fluid {
  width: 200px;
  height: 200px;
  margin: 10px 10px 10px 10px;
}